*{
  margin: 0;
  padding: 0;
}

.bk{
  width: 100%;
  height: auto;
  position: relative;
}
.bk img{
  width: 100%;
  height: 480px;
}
.bk .text{
position: absolute;
top: 10px;
margin: 10px;
padding: 80px;
}

 
.back .bk{
  display: flex;
  align-items: center;
  min-height: 60vh;
}

.back .bk .text{
  width: 60rem;
}

.back .bk .text span{
  color: rgb(251, 224, 229);
  font-size: 2rem;
}

.back .bk .text h3{
  font-size: 2.5rem;
  margin-top: 1.5rem;
  color:white;
}

.back .bk .text p{
  font-size: 1rem;
  padding:1rem 0;
  line-height: 2;
  color:rgb(203, 196, 196);
}

.back .bk .text a{
  display: inline-block;
  width: auto;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background: #28a745;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
}

.btn:hover {
  background: #218838;
}
