.slider{
  background-color: white;
 }
 
 .image-carousel {
  height: 25.7rem;
   width: 70%;
   overflow: hidden;
   border-radius: 10px;
   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
   margin-top: 4px;
   margin-bottom: 7px;;
   position: relative;
   left:15%;
 }
 
 .image-wrapper {
   display: flex;
   animation: scroll 10s linear infinite;
 }
 
 @keyframes scroll {
   0% {
       transform: translateX(0);
   }
   100% {
       transform: translateX(-100%);
   }
 }
 